[Unit]
Description=Gohookbridge Server

[Service]
ExecStart=gohookbridge server
User=gohookbridge
EnvironmentFile=/etc/gohookbridge.env

[Install]
WantedBy=default.target